body {
    background-color: #474973;
    color: #f1dac4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    box-shadow: #0d0c1d 0px 2px 2px 1px;
    cursor: pointer;
}

button:hover {
    border: solid #a69cac 1px;
}

#mensaje{
    text-align: center;
}

