body{
    background-color: beige;
}
h1, h2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container-fluid, .row, .col-sm {
    background-color:cornflowerblue;
    color: beige;
    border-radius: 15px;
}
#NavPrincipal {
    background-color:cornflowerblue;
    color: beige;
}
.nav-link, .navbar-brand, .nav-link {
    color: beige;
}
.nav-link:hover,
.navbar-brand:hover,
.nav-link:hover{
    color:dimgrey
}
.navbar-toggler{
    background-color: beige;
}


